$black-color: #000;
$white-color: #fff;
$red-color: #ED2724;
$gray-color: #F8F8F8;
$dark-gray-color: #909090;

$base-size: 18px;

$base-font: 'Montserrat';
$secondary-font: 'Corporate A';
$secondary-font-2: 'Roboto';
$secondary-font-3: 'Rubik';

$image-path: "../../images";

$font-path: "../../fonts";

