<footer data-aos="fade-up">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4 footer-columns no-border">
                    <div class="footer-logo"><img src="@@path./images/logo.png" alt="" /></div>
                    <p>Since 2011, Zion Auto Gallery has been the preferred singapore car dealership of choice
                        for new and
                        pre-owned cars.

                        Our brand embodies our values – a genuine commitment to providing the best customer
                        experience.</p>
                    <div class="footer-social"> <a href="https://www.instagram.com/zionautosg/" target="_blank"
                            class="instagram"></a> <a href="https://www.facebook.com/zionauto" target="_blank"
                            class="facebook"></a> </div>
                </div>
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-md-4 footer-columns">
                            <div class="footer-title">Our Cars</div>
                            <div class="footer-nav">
                                <ul>
                                    <li><a href="@@path./index.html">Home</a></li>
                                    <li><a href="@@path./our-car.html">All New Cars</a></li>
                                    <li><a href="@@path./bespokes-cars.html">Bespoke Cars</a></li>
                                    <li><a href="@@path./preown-cars.html">Pre-Own Cars</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 footer-columns">
                            <div class="footer-title">Navigations</div>
                            <div class="footer-nav">
                                <ul>
                                    <li><a href="@@path./about-us.html">About Us</a></li>
                                    <li><a href="@@path./our-workshop.html">Service Centre</a></li>
                                    <li><a href="@@path./coe-financing.html">COE Financing</a></li>
                                    <li><a href="@@path./inhouse-financing.html">In-House Financing</a></li>
                                    <li><a href="@@path./corporate-export.html">Corporate & Export</a></li>
                                    <li><a href="@@path./contact-us.html">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 footer-columns">
                            <div class="footer-title">Information</div>
                            <div class="footer-nav">
                                <ul>
                                    <li><a href="@@path./privacy-policy.html">Privacy Policy</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">&copy; 2011 - 2021 Zion Auto Gallery Pte Ltd</div>
    </div>
</footer>
<script src="@@path./js/minified/dropdown.js"></script>

<script>
    new Dropdown();
</script>