.cards-list {
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: calc(33% - 29px);
    }

    &__item:not(:nth-child(3n + 1)) {
        margin-left: 50px;
    }

    &__item:nth-child(n + 4) {
        margin-top: 65px;
    }
}

.cards-list {
    &--v2 &__item {
        width: 100%;
    }

    &--v2 &__item:nth-child(n) {
        margin: 0;
    }

    &--v2 &__item:not(:first-child) {
        margin-top: 33px;
    }
}

.card {
    &__image-wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        overflow: hidden;
    }

    &__image-wrapper:before {
        content: "";
        padding-top: 59%;
        display: block;
    }

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: transform 0.2s ease-in-out;
    }

    &:hover &__image {
        transform: scale(1.05);
    }
}

.card {
    &--product {
        color: #000000;
        border-radius: 0;
        min-width: unset;
        padding: 0 !important;
    }

    &--product:hover {
        color: #000000;
        text-decoration: none;
    }

    &--product &__image-wrapper {
        border-radius: 25px;
    }

    &--product &__badge {
        padding: 4px 10px;

        font-size: 12px;
        font-weight: bold;

        background: #ffffff;
        border-radius: 7px;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);

        position: absolute;
        top: 18px;
        left: 18px;
    }

    &--product &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
    }

    &--product &__feature {
        display: flex;
        justify-content: space-between;
        margin-top: 45px;
    }

    &--product &__feature-item {
        font-size: 15px;
        color: rgba(0, 0, 0, 0.5);
        letter-spacing: -0.015em;
    }

    &--product &__feature-row {
        display: flex;
        align-items: center;
        min-height: 25px;
        margin-bottom: 30px;
    }

    &--product &__feature-title {
        font-size: inherit;
        font-weight: bold;
    }

    &--product &__feature-text {
        margin: 0;
    }

    &--product &__feature-icon {
        margin-right: 10px;
    }

    &--product &__feature-text--black {
        font-weight: 500;
        color: #000000;
    }

    &--product &__button {
        width: 100%;
        height: 47px;
        margin-top: 25px;

        font-family: $secondary-font;
        font-weight: bold;
        font-size: 18px;

        background: #ffffff;
        box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.05);
        border: none;
        border-radius: 14px;

        transition: box-shadow 0.2s ease-in-out;
    }

    &--product:hover &__button {
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    }

    &--product &__title {
        font-size: 25px;
        letter-spacing: -0.015em;
        color: rgba(0, 0, 0, 0.8);
    }

    &--product &__price {
        font-family: $secondary-font;
        font-weight: bold;
        font-size: 32px;
    }
}

.card {
    &--product-import {
        min-height: 452px;
        padding: 50px 26px;

        flex-direction: row;
        align-items: center;

        background: #f2f2f2;

        color: #000000;

        font-size: 26px;
        font-family: $secondary-font-2;
    }

    &--product-import:hover {
        text-decoration: none;
        color: #000000;
    }

    &--product-import &__image-wrapper {
        width: 44%;
    }

    &--product-import &__column {
        width: 56%;
        padding-left: 36px;
    }

    &--product-import &__badge {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 60px;
        height: 33px;

        font-family: $base-font;
        font-weight: 500;
        color: #ffffff;
        font-size: 12px;

        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $red-color;
    }

    &--product-import &__badge-icon {
        $size: 19px;
        width: $size;
        height: $size;

        margin-right: 5px;
    }

    &--product-import &__title {
        margin-bottom: 10px;

        font-size: 28px;
        text-align: center;
    }

    &--product-import &__model {
        font-family: $secondary-font;
        font-size: 28px;
        color: $red-color;
        text-align: center;
    }

    &--product-import &__feature {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 43px;
        margin-bottom: 15px;

        border-bottom: 1px solid rgba(196, 196, 196, 0.6);
    }

    &--product-import &__feature-item {
        font-size: 15px;
    }

    &--product-import &__feature-item:not(:first-child) {
        margin-left: 5px;
    }

    &--product-import &__price {
        line-height: 1;
        font-weight: 700;
        font-family: $secondary-font;
    }

    &--product-import &__row {
        display: flex;
        justify-content: space-between;
    }

    &--product-import &__row--mt {
        margin-top: 25px;
    }

    &--product-import &__info {
        margin-top: 8px;
        font-weight: 300;
        font-size: 15px;
    }

    &--product-import &__text {
        font-weight: 500;
        font-size: 18px;
        text-align: right;
    }

    &--product-import &__row-inner:nth-child(2) {
        text-align: right;
    }

    &--product-import &__button {
        height: 56px;
        padding: 0 30px;
        font-weight: 500;
        font-size: 14px;
        color: #ffffff;
        background-color: $red-color;
        border: none;
    }
}

@media (max-width: 1399px) {
    .cards-list {
        &__item {
            width: calc(33% - 23px);
        }

        &__item:not(:nth-child(3n + 1)) {
            margin-left: 40px;
        }
    }

    .card {
        &--product &__title {
            font-size: 1.7vw;
        }

        &--product &__price {
            font-size: 2.3vw;
        }
    }
}

@media (max-width: 1219px) {
    .cards-list {
        &__item {
            width: calc(33% - 17px);
        }

        &__item:not(:nth-child(3n + 1)) {
            margin-left: 30px;
        }

        &__item:nth-child(n + 4) {
            margin-top: 40px;
        }
    }

    .cards-list {
        &--v2 &__item:not(:first-child) {
            margin-top: 20px;
        }
    }

    .card {
        &--product &__feature {
            margin-top: 30px;
        }

        &--product &__feature-item {
            font-size: 14px;
        }

        &--product &__feature-icon {
            margin-right: 5px;
        }
    }

    .card {
        &--product-import {
            min-height: 290px;
            padding: 20px;
            font-size: 26px;
        }

        &--product-import &__column {
            padding-left: 20px;
        }

        &--product-import &__title {
            margin-bottom: 6px;
            font-size: 24px;
        }

        &--product-import &__model {
            font-size: 24px;
        }

        &--product-import &__feature-item {
            font-size: 14px;
        }

        &--product-import &__feature {
            margin-bottom: 10px;
        }

        &--product-import &__price {
            font-size: 24px;
        }

        &--product-import &__info {
            margin-top: 5px;
            font-size: 12px;
        }

        &--product-import &__text {
            font-size: 14px;
        }

        &--product-import &__row--mt {
            margin-top: 15px;
        }

        &--product-import &__button {
            height: 40px;
            padding: 0 20px;
            font-size: 12px;
        }
    }
}

@media (max-width: 1099px) {
    .card {
        &--product &__feature-item {
            font-size: 1.2vw;
        }

        &--product &__feature-row {
            margin-bottom: 20px;
        }

        &--product &__feature {
            margin-top: 20px;
        }

        &--product &__feature-icon {
            transform: scale(0.7);
        }
    }
}

@media (max-width: 989px) {
    .cards-list {
        justify-content: space-between;

        &__item {
            width: 48%;
        }

        &__item:nth-child(n) {
            margin: 0;
        }

        &__item:nth-child(n + 3) {
            margin-top: 30px;
        }
    }

    .card {
        &--product &__title {
            font-size: 2.4vw;
        }

        &--product &__price {
            font-size: 3vw;
        }

        &--product &__feature-item {
            font-size: 1.7vw;
        }
    }

    .card {
        &--product-import {
            flex-direction: column;
        }

        &--product-import &__image-wrapper {
            width: 100%;
        }

        &--product-import &__column {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding-left: 0;
            margin-top: 20px;
        }

        &--product-import &__title {
            width: 50%;
            text-align: left;
        }

        &--product-import &__model {
            width: 50%;
            text-align: right;
        }

        &--product-import &__feature {
            width: 100%;
        }

        &--product-import &__row {
            width: 100%;
        }
    }
}

@media (max-width: 767px) {
    .card {
        &--product &__button {
            height: 36px;
            font-size: 16px;
        }
    }
}

@media (max-width: 619px) {
    .cards-list {
        &__item {
            width: 100%;
        }

        &__item:nth-child(n) {
            margin: 0;
        }

        &__item:not(:first-child) {
            margin-top: 40px;
        }
    }

    .card {
        &--product &__title {
            font-size: 5vw;
        }

        &--product &__price {
            font-size: 6vw;
        }

        &--product &__feature-item {
            font-size: 3.2vw;
        }

        &--product &__feature-icon {
            transform: unset;
            margin-right: 10px;
        }

        &--product &__button {
            height: 40px;
            font-size: 18px;
        }

        &--product &__badge {
            font-size: 10px;
        }
    }
}

@media (max-width: 479px) {
    .card {
        &--product-import {
            padding: 15px;
        }

        &--product-import &__column {
            margin-top: 10px;
        }

        &--product-import &__title,
        &--product-import &__model {
            width: 100%;
            text-align: center;
        }

        &--product-import &__feature-item {
            font-size: 3vw;
        }

        &--product-import &__feature {
            width: 100%;
            height: 30px;
        }

        &--product-import &__price {
            font-size: 5vw;
        }

        &--product-import &__info {
            margin-top: 1px;
            font-size: 10px;
        }

        &--product-import &__button {
            height: 35px;
            padding: 0 10px;
            font-size: 10px;
            margin-right: 10px;
        }

        &--product-import &__title {
            margin-bottom: 3px;
            font-size: 20px;
        }

        &--product-import &__model {
            font-size: 20px;
        }

        &--product-import &__row-inner {
            display: flex;
            flex-direction: column;
        }

        &--product-import &__text {
            line-height: 1;
            font-size: 3.6vw;
        }
    }
}
