.tabs {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__title {
        font-size: 35px;
    }

    &__item {
        display: none;
    }

    &__menu-button {
        padding: 0;
        background-color: transparent;
        border: none;
    }

    &__item.active {
        display: block;
    }

    &__mobile-button {
        border: none;
    }

    &__list-dropdown.list-dropdown {
        width: unset;
        float: unset;
    }
}

.tabs {

    &--v1 &__menu-list {
        display: flex;
        height: 71px;
        margin-top: 20px;

        border: 3px solid #f1f1f1;
        border-radius: 35px;
    }

    &--v1 &__menu-item {
        height: 100%;
    }

    &--v1 &__menu-item:not(:first-child) {
        margin-left: 5px;
    }

    &--v1 &__menu-button {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        padding: 0 47px;
        font-weight: bold;
        font-size: 25px;
        color: #cecece;  
        border-radius: 35px;

        transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    }

    &--v1 &__menu-button.active,
    &--v1 &__menu-button:hover {
        background-color: #000000;
        color: #ffffff;
    }

    &--v1 &__wrapper {
        width: 100%;
        margin-top: 65px;
    }
}

.tabs {

    &--sticky  {
        flex-direction: row;
        align-items: stretch;
        margin-top: 130px;
    }

    &--sticky &__left-column {
        width: 28%;
    }

    &--sticky &__menu {
        background: #F2F2F2;
        padding: 20px 24px 39px 24px;
        position: sticky;
        top: 100px;
    }

    &--sticky &__menu-button {
        display: flex;
        align-items: center;

        height: 62px;
        width: 100%;

        font-weight: 500;
        font-size: 30px;
        font-family: $secondary-font;
        text-align: left;
        line-height: 1;

        position: relative;

        border-bottom: 1px solid rgba(196, 196, 196, 0.6);

        transition: border-color 0.2s ease-out, padding-left 0.1s ease-out;
    }

    &--sticky &__menu-button:before {
        content: '';
  
        $size: 12px;
        width: $size;
        height: $size;

        border: 2px solid #000000;
        border-top: none;
        border-right: none;

        position: absolute;
        left: 0;

        transform: rotateZ(-135deg);

        opacity: 0;
    }

    &--sticky &__menu-button.active:before {
        opacity: 1;
    }

    &--sticky &__menu-button.active {
        padding-left: 25px;
    }

    &--sticky &__menu-button:hover {
        border-color: rgba(187, 0, 0, 0.377);
    }

    &--sticky &__wrapper {
        width: 72%;
        padding-left: 38px;
        margin: 0;
    }

    &--sticky &__menu-text {
        font-size: 12px;
        color: #000000;
        margin: 0;
    }

    &--sticky &__menu-text:not(&__menu-text--big) {
        font-family: $secondary-font-2;
        font-weight: 500;
    }

    &--sticky &__menu-text--gray {
        color: #929292;
        margin-top: 10px;
    }

    &--sticky &__menu-text--big {
        margin-top: 40px;
        font-size: 15px;
        letter-spacing: -0.015em;
        opacity: 0.6;
    }

    &--sticky &__menu-list {
        margin-top: 30px;
    }
}

.tabs {

    &--product {
        margin-top: 90px;
    }

    &--product &__menu-list {
        display: flex;
        height: 80px;
        margin-top: 50px;
    }

    &--product &__menu-item {
        width: 16.666%;
        height: 100%;
    }

    &--product &__menu-item:not(:first-child) {
        border-left: 3px solid #ffffff;
    }

    &--product &__menu-button {
        height: 100%;
        width: 100%;
        padding: 0 10px;
        background: #F2F2F2;     
        font-weight: 500;
        font-size: 20px;
        line-height: 1;
        color: #000000;
        transition: background-color 0.2s ease-out, color 0.2s ease-out;
    }

    &--product &__menu-button:hover, &--product &__menu-button.active {
        background-color: $red-color;
        color: #ffffff;
    }

    &--product &__list-dropdown {
        width: 100%;
    }

    &--product &__wrapper {
        width: 100%;
    }
}

@media (max-width: 1219px) {
    .tabs {
        &__menu-button {
            font-size: 2vw;
        }

        &__text--mt {
            margin-top: 70px;
            margin-bottom: 0;
        }
    }

    .tabs {

        &--sticky {
            margin-top: 70px;
        }

        &--sticky &__wrapper {
            padding-left: 20px;
        }

        &--sticky &__menu {
            padding: 20px;
        }

        &--sticky &__menu-list {
            margin-top: 10px;
        }

        &--sticky &__menu-button.active {
            padding-left: 18px;
        }

        &--sticky &__menu-button:before {
            width: 8px;
            height: 8px;
        }

        &--sticky &__menu-button {
            height: 50px;
            font-size: 20px;
        }

        &--sticky &__menu-text--big {
            margin-top: 20px;
            font-size: 12px;
        }
    }
}

@media (max-width: 1099px) {
    .tabs {
        &__wrapper {
            margin-top: 40px;
        }
    }
}

@media (max-width: 989px) {
    .tabs {
        &__title {
            font-size: 4vw;
        }

        &--v1 &__menu-list {
            height: 50px;
            width: 100%;
        }

        &__list-dropdown.list-dropdown {
            width: 100%;
        }

        &--v1 &__menu-item {
            width: 20%;
        }

        &--v1 &__menu-item:not(:first-child) {
            margin-left: 0;
        }

        &--v1 &__menu-button {
            font-size: 1.7vw;
            width: 100%;
            padding: 0 20px;
        }
    }

    .tabs {

        &--sticky {
            margin-top: 40px;
        }

        &--sticky &__menu-text--big {
            font-size: 10px;
        }

        &--sticky &__menu-button {
            height: 45px;
            font-size: 18px;
        }
    }
}

@media (max-width: 767px) {
    .tabs {

        &--mobile &__menu-list {
            flex-direction: column;
            height: unset;
            margin-top: 0;

            border: none;
            border-radius: 0;

            position: absolute;
            width: 100%;
            top: 100%;
            z-index: 2;

            background-color: #000;
            border-top: 1px solid rgba(222, 226, 230, 0.2);
            opacity: 0;
            visibility: hidden;
            z-index: 10;
        }

        &--mobile &__menu-button {
            justify-content: flex-start;
            height: 66px;
            padding: 0 15px;
            font-family: $secondary-font;
            font-size: 24px;
            color: #ffffff;
        }

        &--mobile &__menu-button.active {
            color: #ed2724;
        }

        &--mobile &__menu-item {
            width: 100%;
        }

        &--mobile &__menu-button:nth-child(n) {
            margin: 0;
        }

        &__list-dropdown {
            margin-top: 20px;
        }

        &__title {
            font-size: 5vw;
            text-align: center;
        }
    }

    .open {
        .tabs__menu-list {
            opacity: 1;
            visibility: visible;
        }
    }

    .tabs {

        &--sticky {
            flex-direction: column;
            position: relative;
        }

        &--sticky &__left-column {
            width: 100%;
            position: absolute;
            height: 100%;
            left: 0;
        }

        &--sticky &__wrapper {
            width: 100%;
            padding-left: 0px;
            margin-top: 107px;
        }

        &--sticky &__menu {
            background: transparent;
            display: flex;
            flex-direction: column;
            position: relative;
            height: 100%;
            top: 0;
            padding: 0;
            z-index: 6;
        }

        &--sticky &__menu-text {
            text-align: center;
            font-size: 14px;
            order: 1;
            margin-top: 10px;
        }

        &--sticky &__menu-text--gray {
            display: none;
        }

        &--sticky &__menu-text--big {
            display: none;
        }

        &--sticky &__list-dropdown {
            margin-top: 0;
            position: sticky;
            top: 84px;
            z-index: 6;
        }
    }
}

@media (max-width: 479px) {
    .tabs {
        &__title {
            font-size: 6vw;
        }
    }
}
