<div class="pushy pushy-static">
    <ul class="pushy-main-submenu">
        <li>
            <div class="car-menu-top">
                <div class="car-image"><img src="@@imgPath./images/icon-car.png" alt="" /></div>
                <div class="car-menu-title">Our Cars</div>
                <div class="menu-close">
                    <button class="pushy-close"></button>
                </div>
            </div>
        </li>
        <li> <a href="#"> Mercedes-Benz <span class="submenu-arrow"></span></a>
            <ul class="pushy-submenu">
                <li>
                    <div class="car-menu-top">
                        <div class="car-menu-title-small">Our Cars</div>
                        <div class="car-menu-title">Mercedes-Benz</div>
                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                        <div class="menu-close">
                            <button class="pushy-close"></button>
                        </div>
                    </div>
                </li>
                <li><a href="#">SUVs <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">SUVs</div>
                                <div class="car-menu-title">Mercedes-Benz</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">Maybach SUVs <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">Maybach SUVs</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="@@path/mb-maybach.html"><span style="color:red;">NEW</span>  Maybach GLS 600<br>
                                        <span class="car-model-text">4Matic Premium / First Class</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#">GLA SUVs <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">GLA SUVs</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="@@path/gla180-2019.html">GLA180 2019<br>
                                        <span class="car-model-text">Urban Edition</span></a></li>
                                <li><a href="@@path/gla200.html">GLA200 Sport/AMG<br>
                                        <span class="car-model-text">Standard/Executive/Premium Plus</span></a></li>
                                <li><a href="@@path/gla35.html">GLA35 - 4Matic AMG<br>
                                        <span class="car-model-text">Premium/Premium Plus</span></a></li>
                                <li><a href="@@path/gla45-s.html">GLA45 S<br>
                                        <span class="car-model-text">4-Matic+/4Matic+ Plus</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#">GLB SUVs <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">GLB SUVs</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="@@path/glb200-7-seater.html">GLB200 7-Seater AMG<br>
                                        <span class="car-model-text">Standard/Premium/Premium Plus</span></a></li>
                                <li><a href="@@path/glb35-7-seater.html">GLB35 7-Seater<br>
                                        <span class="car-model-text">4Matic/AMG Premium Plus</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#">GLC SUVs <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">GLC SUVs</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="@@path/glc300-suv.html">GLC300 - 4Matic AMG<br>
                                        <span class="car-model-text">Standard/Premium/Premium Plus</span></a></li>
                                <li><a href="@@path/glc43-suv.html">GLC43 - 4Matic AMG<br>
                                        <span class="car-model-text">Premium/Premium Plus/Night Edition</span></a></li>
                                <li><a href="@@path/glc63.html">GLC63 S - 4Matic+<br>
                                        <span class="car-model-text">Night Edition Premium Plus</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#">GLE SUVs <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">GLE SUVs</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="@@path/gle450-7-seater.html">GLE450 7-Seater 4Matic<br>
                                        <span class="car-model-text">AMG Premium/AMG Premium Plus</span></a></li>
                                <li><a href="@@path/gle53-7-seater.html">GLE53 7-Seater 4Matic+<br>
                                        <span class="car-model-text">AMG Premium/AMG Premium Plus</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="#">Coupes <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Coupes</div>
                                <div class="car-menu-title">Mercedes-Benz</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">CLA Coupes <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">CLA Coupes</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="@@path/cla180.html">CLA180 AMG<br>
                                        <span class="car-model-text">Standard/Premium/Premium Plus</span></a></li>
                                <li><a href="@@path/cla200.html">CLA200 AMG<br>
                                        <span class="car-model-text">Standard/Premium/Premium Plus</span></a></li>
                                <li><a href="@@path/cla250.html">CLA250 AMG<br>
                                        <span class="car-model-text">Standard/Premium/Premium Plus</span></a></li>
                                <li><a href="@@path/cla35.html">CLA35 - 4Matic<br>
                                        <span class="car-model-text">Premium/Premium Plus</span></a></li>
                                <li><a href="@@path/cla45-s.html">CLA45 S AMG<br>
                                        <span class="car-model-text">4Matic+/4Matic+ Plus</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#">GLC Coupes <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">GLC Coupes</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="@@path/glc300-coupe.html">GLC300 4Matic AMG<br>
                                        <span class="car-model-text">Standard/Premium/Premium Plus</span></a></li>
                                <li><a href="@@path/glc43-coupe.html">GLC43 4Matic AMG<br>
                                        <span class="car-model-text">Premium/Premium Plus/Night Edition</span></a></li>
                            </ul>
                        </li>
                    </ul>
                <li><a href="#">Saloons <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Saloons</div>
                                <div class="car-menu-title">Mercedes-Benz</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="#">S-Class Saloon <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">S-Class Saloon</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="@@path/s450-2021.html"><span style="color:red;">NEW</span> S450
                                        2021<br>
                                        <span class="car-model-text">Grand Edition (L)</span></a></li>
                                <li><a href="@@path/s500-2021.html"><span style="color:red;">NEW</span> S500
                                        2021<br>
                                        <span class="car-model-text">4Matic (L) AMG</span></a></li>
                                <li><a href="@@path/s500l.html">S500L<br>
                                        <span class="car-model-text">4-Matic AMG-Line Premium Plus</span></a></li>
                            </ul>
                        </li>
                        <li><a href="#">E-Class Saloon <span class="submenu-arrow"></span></a>
                            <ul class="pushy-submenu">
                                <li>
                                    <div class="car-menu-top">
                                        <div class="car-menu-title-small">E-Class Saloon</div>
                                        <div class="car-menu-title">Mercedes-Benz</div>
                                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                        <div class="menu-close">
                                            <button class="pushy-close"></button>
                                        </div>
                                    </div>
                                </li>
                                <li><a href="@@path/e200-2021.html"><span style="color:red;">NEW</span> E200
                                        2021<br>
                                        <span class="car-model-text">AMG-Line Premium</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
        </li>
        <li> <a href="#">Porsche <span class="submenu-arrow"></span></a>
            <ul class="pushy-submenu">
                <li>
                    <div class="car-menu-top">
                        <div class="car-menu-title-small">Our Cars</div>
                        <div class="car-menu-title">Porsche</div>
                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                        <div class="menu-close">
                            <button class="pushy-close"></button>
                        </div>
                    </div>
                </li>
                <li><a href="#">SUVs <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">SUVs</div>
                                <div class="car-menu-title">Porsche</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="@@path/porsche-macan.html">Porsche Macan <br><span class="car-model-text">(S)/GTS/Turbo</span></span></a></li>
                        <li><a href="@@path/porsche-cayenne.html">Porsche Cayenne <br><span
                                    class="car-model-text">Standard/(S)/E-Hybrid</span></span></a></li>
                    </ul>
                </li>
                <li><a href="#">Coupes <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Coupes</div>
                                <div class="car-menu-title">Porsche</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="@@path/porsche-911.html">Porsche 911 Carrera<br><span class="car-model-text">Standard/4/(S)/4S/Cabriolet</span></span></a></li>
                        <li><a href="@@path/porsche-cayenne-coupe.html">Porsche Cayenne<br><span
                                    class="car-model-text">Standard/(S)/E-Hybrid</span></span></a></li>
                    </ul>
                </li>
                <li><a href="#">Saloons <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Saloons</div>
                                <div class="car-menu-title">Porsche</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="@@path/porsche-panamera.html">Porsche Panamera<br><span
                                    class="car-model-text">Standard/4S/E-Hybrid/GTS/Sport</span></span></a></li>
                    </ul>
                </li>
            </ul>
            <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
        </li>
        <li> <a href="#">BMW <span class="submenu-arrow"></span></a>
            <ul class="pushy-submenu">
                <li>
                    <div class="car-menu-top">
                        <div class="car-menu-title-small">Our Cars</div>
                        <div class="car-menu-title">BMW</div>
                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                        <div class="menu-close">
                            <button class="pushy-close"></button>
                        </div>
                    </div>
                </li>
                <li><a href="#">Saloons <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Saloons</div>
                                <div class="car-menu-title">BMW</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="@@path/bmw-320i.html">BMW 3-Series<br><span class="car-model-text">SE/Sport/M-Sport</span></span></a></li>
                        <li><a href="@@path/bmw-520i.html">BMW 5-Series<br><span class="car-model-text">SE/M-Sport/M-Sport Edition</span></span></a></li>
                        <li><a href="@@path/bmw-7-series.html">BMW 7-Series 740i/740Li <br><span class="car-model-text">M-Sport/xDrive/sDrive M-Sport</span></span></a></li>
                    </ul>
                </li>
                <li><a href="#">Coupe <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Coupes</div>
                                <div class="car-menu-title">BMW</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="@@path/bmw-8-series.html">BMW 8-Series 840i/850i<br><span class="car-model-text">M-Sport/xDrive/sDrive M-Sport</span></span></a></li>
                    </ul>
                </li>
            </ul>
            <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
        </li>
        <li> <a href="#">Toyota <span class="submenu-arrow"></span></a>
            <ul class="pushy-submenu">
                <li>
                    <div class="car-menu-top">
                        <div class="car-menu-title-small">Our Cars</div>
                        <div class="car-menu-title">Toyota</div>
                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                        <div class="menu-close">
                            <button class="pushy-close"></button>
                        </div>
                    </div>
                </li>
                <li><a href="#">Saloons <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Saloon</div>
                                <div class="car-menu-title">Toyota</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="@@path/toyota-camry.html">Toyota Camry<br><span class="car-model-text">Ascent/Ascent Sport/(G)/(G) Sunroof/SL</span></span></a></li>
                    </ul>
                </li>
                <li><a href="#">SUV/MPV <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">SUV/MPV</div>
                                <div class="car-menu-title">Toyota</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="@@path/toyota-raize.html">Toyota Raize<br><span class="car-model-text">(X) / (X) "S" / (G)</span></span></a></li>
                        <li><a href="@@path/toyota-harrier.html">Toyota Harrier<br><span class="car-model-text">2.5G Hybrid</span></span></a></li>
                        <li><a href="@@path/toyota-alphard.html">Toyota Alphard 7/8-Seater<br><span
                                    class="car-model-text">X (A)/S (A)/S A-Package (A)/S C-Package (A)</span></span></a></li>
                    </ul>
                </li>
            </ul>
            <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
        </li>
        <li> <a href="#">Honda <span class="submenu-arrow"></span></a>
            <ul class="pushy-submenu">
                <li>
                    <div class="car-menu-top">
                        <div class="car-menu-title-small">Our Cars</div>
                        <div class="car-menu-title">Honda</div>
                        <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                        <div class="menu-close">
                            <button class="pushy-close"></button>
                        </div>
                    </div>
                </li>
                <li><a href="#">Hatchbacks <span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">Hatchbacks</div>
                                <div class="car-menu-title">Honda</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="@@path/honda-fit.html">2020 Honda Fit 1.3 (A)<br><span
                                    class="car-model-text">Standard/Sensing/Home Sensing/Led Sensing</span></span></a></li>
                    </ul>
                </li>
                <li><a href="#">SUV/MPV<span class="submenu-arrow"></span></a>
                    <ul class="pushy-submenu">
                        <li>
                            <div class="car-menu-top">
                                <div class="car-menu-title-small">SUV/MPV</div>
                                <div class="car-menu-title">Honda</div>
                                <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
                                <div class="menu-close">
                                    <button class="pushy-close"></button>
                                </div>
                            </div>
                        </li>
                        <li><a href="@@path/honda-vezel.html">New Honda Vezel<br><span
                                    class="car-model-text">1.5 X</span></span></a></li>
                        <li><a href="@@path/honda-shuttle.html">Honda Shuttle 1.5G (A)<br><span
                                    class="car-model-text">Sensing/Led Sensing/Keyless-Navi Sensing</span></span></a></li>
                    </ul>
                </li>
            </ul>
            <div class="pushy-close-submenu"><span class="back-arrow"></span></div>
        </li>
        <li >
            <a href="@@imgPath./our-car.html">View All</a>
        </li>
        <li >
            <a href="@@imgPath./preown-cars.html">Pre-Own Cars</a>
        </li>
        <li>
            <div class="car-menu-fixed-bottom">
                <div class="appointment-btn-wrp"><a href="@@imgPath./contact-us.html" class="appointment-btn">Book An
                        Appointment</a>
                </div>
                <div class="menu-logo"><img src="@@imgPath./images/logo-2.png" alt="" /></div>
                <div class="menu-time">Mon - Fri (10am - 7pm): 6455 235</div>
                <div class="menu-address">159 Sin Ming Road #01-04<br>
                    Amtech Building Singapore 575625</div>
            </div>
        </li>
    </ul>
</div>