<header>
    <div class="header-top">
        <div class="container">
            <div class="logo"><a href="@@path./index.html"><img src="@@path./images/logo-white.png" alt="" /></a></div>
            <div class="header-top-right">
                <div class="header-btn"><a href="contact-us.html" class="btn btn-primary">Book Appointment</a>
                </div>
                <div class="header-search-btn">
                    <button class="search-btn"></button>
                </div>
            </div>
        </div>
    </div>
    <div class="header-top-mobile">
        <div class="mobile-car-btn">
            <button class="pushy-menu-btn"></button>
        </div>
        <div class="mobile-logo"><a href="@@path./index.html"><img src="@@path./images/logo-icon.png" alt="" /></a>
        </div>
        <div class="menu-icon">
            <button class="cd-dropdown-trigger" id="mobile-menu-open"></button>
        </div>
    </div>
    <div class="header-bottom" id="mobile-menu">
        <div class="container header-bottom-wrapper">
            <div class="logo-icon">
                <a href="@@path./index.html"><img src="@@path./images/logo-icon.png" alt="" /></a>
                <button class="cd-close" id="mobile-close">Close</button>
            </div>
            <div class="header-bottom-outer" id="header-outer">
                <div class="navigation">
                    <ul class="navigation__list" data-wrapper>
                        <li><a href="@@path./index.html"><img src="@@path./images/icon-car.png" alt="" /></a></li>
                        <li ><a href="@@path./index.html">Home</a></li>
                        <li ><a href="@@path./about-us.html"
                                onclick="handleOutboundLinkClicks">About Us</a></li>
                        <li  data-item>
                            <a class="navigation__link pushy-menu-btn">Our Cars</a>
                        </li>
                        <li  data-item>
                            <a href="#" data-link class="submenu-arrow">Our Services</a>
                            <div class="dropdown dropdown--main" data-dropdown>
                                <div class="dropdown__wrapper dropdown__wrapper--1">
                                    <button class="dropdown__close" data-close></button>
                                    <h3 class="dropdown__title">Our Services</h3>
                                    <ul class="dropdown__list" data-submenu-list>
                                        <li class="dropdown__item" data-submenu-item>
                                            <a href="@@path./our-workshop.html" class="dropdown__link">Service
                                                Centre</a>
                                        </li>
                                        <li class="dropdown__item" data-submenu-item>
                                            <a href="@@path./bespokes-cars.html" class="dropdown__link">Bespoke Cars</a>
                                        </li>
                                        <li class="dropdown__item" data-submenu-item>
                                            <a href="@@path./coe-financing.html" class="dropdown__link">COE Financing</a>
                                        </li>
                                        <li class="dropdown__item" data-submenu-item>
                                            <a href="@@path./inhouse-financing.html" class="dropdown__link">In-House Financing</a>
                                        </li>
                                        <li class="dropdown__item" data-submenu-item>
                                            <a href="@@path./corporate-export.html" class="dropdown__link">Corporate & Export</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li ><a href="@@path./contact-us.html">Contact
                                Us</a></li>
                    </ul>
                </div>
                <div class="header-contact">
                    <a href="@@path./contact-us.html" class="appointment-btn">Book An Appointment</a>
                    <div class="menu-logo"><img src="@@path./images/logo-2.png" alt="" /></div>
                    <div class="menu-time">
                         
                        
                            Mon - Fri (10am - 7pm):<a href="tel:+6564552535">&nbsp;+65 6455 2535</a>
                        
                    </div>
                    <div class="menu-address">159 Sin Ming Road #01-04<br>
                        Amtech Building Singapore 575625</div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="dropdown-background" id="dropdown-background"></div>